<!--    <button (click)="openModal()">-->
<!--      Open Modal-->
<!--    </button>-->

  <!-- Terminal -->
<!--  <div class="terminal" [ngSwitch]="selection.value">-->
<!--      <pre *ngSwitchDefault>ng generate component xyz</pre>-->
<!--      <pre *ngSwitchCase="'material'">ng add @angular/material</pre>-->
<!--      <pre *ngSwitchCase="'pwa'">ng add @angular/pwa</pre>-->
<!--      <pre *ngSwitchCase="'dependency'">ng add _____</pre>-->
<!--      <pre *ngSwitchCase="'test'">ng test</pre>-->
<!--      <pre *ngSwitchCase="'build'">ng build &#45;&#45;prod</pre>-->
<!--  </div>-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button type="button" mat-button (click)="drawer.toggle()" >
      Toggle sidenav
    </button>
    <span>Third Line</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  <div class="school-sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>

